<main class="main">
  <div class="todo-container">
    <h1>TODO List</h1>
    <p>A place to store your todos</p>
    <form class="form">
      <input type="text" placeholder="Filter your to-dos" />
    </form>
    <ol class="list">
      <li *ngFor="let todo of todos">
        <div class="list-item">
          <button class="btn" *ngIf="todo.completed === false">Complete</button>
          <p class="task" [ngClass]="{ done: todo.completed }">
            {{ todo.task }}
          </p>
          <button class="x-btn">X</button>
        </div>
      </li>
    </ol>
    <form class="form">
      <input type="text" placeholder="Add your to-do" />
      <button class="add">Add</button>
    </form>
  </div>
</main>
